<%- include('../partials/header') %>
<body>
    <header>
        <a href="dashboard/logout">logout</a>
        <h1>mood_bud</h1>
    </header>
    <main>
        <h3>New Board</h3>
        <form action="/dashboard" method="post">
            <label>
                Name:
                <input type="text" name="name">
            </label>
            <label for="">
                Description:
                <input type="type" name="description">
            </label>
            <button type="submit">Create</button>
        </form>
    </main>
</body>
<%- include('../partials/footer') %>