<%- include('../partials/header') %>
<body>
    <header>
        <a href="/dashboard/logout">logout</a>
        <h1>mood_bud</h1>
    </header>
    <main>
        <h3></h3>
     <h1>AYY!</h1>
     <form id="Search">
        <input type="text" name="search">
        <button type="submit">Search</button>
        <a href="/pieces/new">+</a>
        </form>
        <ul>
            <div id="pieces">

            </div>
        </ul>
    </main>
</body>
<%- include('../partials/footer') %>