<%- include('../partials/header') %>
<body>
    <header>
        <a href="/users/new_user">signup</a>
        <a href="/users/signin">login</a>
        <h1 id="logo"><a href="/dashboard">mood_bud</a></h1>
    </header>
    <main>
    </main> 
</body>   
<%- include('../partials/footer') %>