<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mood_bud</title>
</head>
<body>
    <header>
        <a href="/users/new_user">signup</a>
        <a href="/users/signin">login</a>
        <h1>mood_bud</h1>
    </header>
</body>
</html>