<!DOCTYPE html>
<%- include('../partials/header') %>
<body>
    <header>
        <a href="/users/signin">login</a>
        <h1 id="logo"><a href="/dashboard">mood_bud</a></h1>
    </header>
    <main>
        <form action="/users/signup" method="POST">
            <h3>Signup</h3>
    
            <label>
                first name:
                <input type="text" name="firstName">
            </label>
            <label>
                last name:
                <input type="text" name="lastName">
            </label>
            <label>
                username:
                <input type="text" name="username">
            </label>
            <br>
            <label>
                password:
                <input type="text" name="password">
            </label>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
<%- include('../partials/footer') %>